DISCORD_TOKEN=
GUILD_ID=
LOG_CHANNEL_ID=
AUTO_ROLE_ID=
VERIFY_ENABLED=
PUBLIC_URL=
VERIFIED_ROLE_ID=
NO_REACTION_CHANNELS=
KICK_SLUG=
KICK_COUNTER_CHANNEL_ID=
TICKET_CATEGORY_ID=
TICKET_ARCHIVE_CATEGORY_ID=
TICKET_LOG_CHANNEL_ID=
TICKET_STAFF_ROLES=
LIVE_CHANNEL_ID=
